@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Howdy Cowboys and Cowgirls!</h1>
<h2 class="text-center">Cowboy Cafe Menu</h2>
<h5 class="text-center">We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</h5>

<form id="menu">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>
    <div id="filters">
        <h5>Category</h5>
        @foreach (String category in Menu.Categories)
        {
            <label>
                <input type="checkbox" name="Categories" value="@category" checked="@Model.Categories.Contains(category)" />
                @category
            </label>
        }
        <h5>Price</h5>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="100" step=".01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="100" step=".01" placeholder="max" value="@Model.PriceMax" />
        </div>
        <h5>Calories</h5>
        <div>
            Between
            <input name="CaloriesMin" type="number" min="0" max="10000" step="1" placeholder="min" value="@Model.CaloriesMin" />
            and
            <input name="CaloriesMax" type="number" min="0" max="10000" step="1" placeholder="max" value="@Model.CaloriesMax" />
        </div>
    </div>
    <div id="results">
        <h3><u>Entrees</u></h3>
        @foreach (IOrderItem item in Model.MenuItems)
        {
            if (item is Entree entree)
            {
                <div class="menu-item">
                    <h4 class="name">@item.ToString()</h4>
                    <div class="details">
                        <ul>
                            <li>Price: $@String.Format("{0:0.00}", item.Price)</li>
                            <li>Calories: @item.Calories</li>
                        </ul>
                    </div>
                </div>
            }
        }
        <h3><u>Sides</u></h3>
        @foreach (IOrderItem item in Model.MenuItems)
        {
            if (item is Side side)
            {
                <div class="menu-item">
                    <h4 class="name">@item.ToString()</h4>
                    <div class="details">
                        <ul>
                            <li>Price: $@String.Format("{0:0.00}", item.Price)</li>
                            <li>Calories: @item.Calories</li>
                        </ul>
                    </div>
                </div>
            }
        }
        <h3><u>Drinks</u></h3>
        @foreach (IOrderItem item in Model.MenuItems)
        {
            if (item is Drink drink)
            {
                <div class="menu-item">
                    <h4 class="name">@item.ToString()</h4>
                    <div class="details">
                        <ul>
                            <li>Price: $@String.Format("{0:0.00}", item.Price)</li>
                            <li>Calories: @item.Calories</li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</form> 
